.cards__container {
  display: flex;
  flex-wrap: wrap;
  .cards__subContainer {
    padding: 20px;
    a {
      .cards__button {
        background-color: white;
        border: none;
        .cards__infoContainer {
          width: 300px;
          height: 520px;
          border: 2px solid rgba(0, 0, 0, 0.294);
          .cards__imgContainer {
            height: 400px;
            img {
              padding: 10px 10px 0px 10px;
              height: 400px;
            }
          }
          .cards__body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5px 15px 10px 15px;
            max-height: 130px;

            .cards__title {
              margin-bottom: 2px;
              font-size: 22px;
              margin-bottom: 0px;
            }
            .cards__description {
              margin-bottom: 5px;
              font-size: 16px;
              margin-bottom: 0px;
            }
            .cards__price {
              font-weight: bold;
              font-size: 16px;
              margin-bottom: 0px;
             
            }
            .cards__compra {
              position: absolute;
              background: #ffc107;
              width: 220px;
              height: 40px;
              align-items: center;
              justify-content: center;
              top: 250px;
              right: 32px;
              font-size: 22px;
              border: 1px solid;
              border-radius: 10px;
              display: none;
            }
          }
        }
        .cards__infoContainer:hover {
          border: 2px solid #ffc107;
          .cards__compra {
            display: flex;
          }
        }
      }
    }
  }
}
