.card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  .card__titleContainer {
    display: flex;
    flex-direction: row;
    i {
      position: relative;
      top: 17px;
    }
    h3 {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  .card__subContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 850px;
    border-top: 1px solid black;
    .card__imgContainer {
      display: flex;
      align-content: center;
      justify-content: center;
      width: 400px;
      height: 500px;
      div {
        border: none;
        display: flex;
        align-content: center;
        justify-content: center;
        img {
          transition: 0.8s;
          position: absolute;
          top: 50px;
          right: 0;
          bottom: 0;
          left: 0;
        }
        img:hover {
          width: 310px;
          height: 425px;
        }
      }
    }
    .card__textContainer {
      width: 400px;
      height: 500px;
      padding-left: 30px;
      padding-top: 10px;
      border-left: 1px solid black;
      .card__descriptionContainer {
        div {
          width: 400px;
          border: none;
          div {
            div {
              font-size: 26px;
            }
            p {
              font-size: 20px;
            }
            .card__priceContainer {
              display: flex;
              flex-direction: row;
              p {
                padding-right: 8px;
              }
              div {
                font-weight: bold;
                font-size: 20px;
              }
            }
            .card__rateContainer {
              display: flex;
              flex-direction: row;
              .card__rateText {
                padding-right: 10px;
              }
              .card__rateStarsContainer {
                position: relative;
                bottom: 9px;
                .card__rateStars {
                  i {
                    color: orange;
                  }
                }
              }
            }
          }
        }
      }
      .card__countContainer {
        .card__countSubContainer {
          display: flex;
          flex-direction: column;
          padding: 1rem 1rem;
          padding-top: 40px;
          .card__countNumberContainer {
            display: flex;
            flex-direction: row;
            .card__countQuantity {
              font-size: 20px;
              padding-right: 15px;
            }
          }
          .card__countBtnContainer {
            display: flex;
            flex-direction: row;
            div {
              padding-right: 8px;
              button {
                color: #092276;
                border: 2px solid #092276;
                background-color: white;
                border-radius: 100px;
                position: relative;
                bottom: 8px;
                height: 35px;
                width: 35px;
                i {
                  position: relative;
                  font-size: 24px;
                  right: 1px;
                  top: 1px;
                }
              }
              button:hover {
                background-color: #092276;
                color: white;
                transition: 0.1s;
              }
            }
          }
        }
        .card__countbtnCarrito {
          display: flex;
          justify-content: center;
          .card__countBtn {
            background: radial-gradient(
              circle,
              #092276 60%,
              rgb(122, 171, 211) 100%
            );
            color: white;
            height: 50px;
            width: 300px;
            border-radius: 45px;
            font-size: 20px;
            transition: background, color 0.2s;
            border: none;
            margin: 7px;
          }
          .card__countBtn:hover {
            color: rgb(248, 234, 34);
            background: rgb(0, 0, 0);
          }
        }
      }
    }
  }
}

// .cardContainer {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
//   .cards {
//     border: black solid 1px;
//     margin: 10px;
//     .cardBody {
//       display: flex;
//     }
//   }

//   .countContainer {
//     width: 300px;
//     height: 200px;
//     border: solid #0d6efd 2px;
//     .numberContainer {
//       display: flex;
//       justify-content: center;
//       padding-top: 10px;
//       p {
//         font-size: 20px;
//         font-weight: bold;
//       }
//     }
//     .btnContainer {
//       padding: 20px;
//       padding-top: 0px;
//       display: flex;
//       flex-direction: column;
//       justify-content: space-around;
//     }
//   }
// }
// .buttonContainer {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 300px;
//   height: 200px;
//   border: solid #0d6efd 2px;
//   margin-top: 20px;
//   button {
//     width: 150px;
//     height: 30px;
//   }
// }
